@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.img-back{
    height: 100%;
    width: auto;
    background-color: hsl(225, 100%, 98%);
}

.card{
    height: 700px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    border:1px solid black;
    border-radius: 5%;
    text-align: center;
}

.card img{
    border-radius: 8%;
}

.card button{
    display: block;
}